* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Alata", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;  
}
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");

body {
  text-align: center;
}
main{
  height: 100vh;
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid tomato; */
  
}
/* ran pass start */
.btn{
  height: 2.7em;
  padding: 10px;
  width: auto;
  border: none;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}

/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb{
  outline: 3px solid #808080;
  outline-offset: 0.125rem;
}
.passbx{
  border: 2px solid tomato;
  
}

.output{
  width: 100%;
  padding: 20px 20px 0;
  border: 2px solid green;
  text-align: center;
}
/* ran pass end */